* {
     margin: auto 0;
     font-family: sans-serif;
    
     
     
    
}

body {     
    display: flex; 
    flex-direction: column;        
    height: 100vh;
    margin: 0;
}
 
.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  padding:8px; 
  flex-shrink: 0;
  
  
    
}

.footer {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  padding:8px; 
  flex-shrink: 0;
}

.logo {
    color: rgb(111, 85, 138);
   font-size: 32px;
   font-weight: 900;
   font-style: italic;
   flex-shrink: 0;
  
}

.links{
    display: flex;
    justify-content:space-between;
    flex-shrink: 0;
    gap:16px;
}
.flex-container  {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: center;
    background:#eee;
    max-width: 50%;
    padding: 50px;
    font-size: 16px;
}

 .flex-container img {
    width: 300px;
    height: auto;
 }
 
 .text  {
    
 }

h1 {
    text-align: center;
    border: 2px solid olive;
    padding: 10px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.main-li {
    
    background-color: lightgray;
    padding: 100px;                             
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

#yellow {
    padding: 5px;
    background-color: lightyellow;;
    margin-bottom: 10px;
    border: 2px solid black;

}

#blue {

    padding: 5px;
    background-color: lightblue;
    margin-bottom: 10px;
    border: 2px solid black;
}

#red {
    
    padding: 5px;
    background-color: lightcoral;
    margin-bottom: 10px;
    border: 2px solid black;
}

.h2-ingr {

    background-color: lightsalmon;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    
    


}

.ingr {

    background-color: lightsalmon;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    
}

.h2-steps {

    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;


}

.steps {
     
    background-color: lightcyan;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;


}

.button {
    background-color: bisque;
    display: block;
    padding: 10px;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
